.add-user-modal {
    .row {
        display: flex;
        margin-bottom: 10px;
        &>span {
            width:60px;
            display: inline-block;
            flex-shrink: 0;
            text-align: right;
            margin-right: 8px;
        }
        &.requried {
            &>span::before {
                content: "*";
                color: red;
                margin-left: 3px;
            }
        }
    }
}