@import '../../ultils/style.scss';
.side-menu-container {
    background: $header_color;
    position: fixed;
    height: 100%;
    width: $side_menu_width;
    overflow: auto;
    box-sizing: border-box;
}

.ant-menu.ant-menu-dark  .ant-menu-item{
    margin-top: 0;
}